@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-200 text-base-content antialiased overflow-hidden;
  overscroll-behavior: none; 
}

#root {
  @apply h-[100dvh] w-screen flex flex-col;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}